[Unit]
Description=Private Telegram PPOB Bot H2H.id
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/h2hbot
ExecStart=/opt/h2hbot/venv/bin/python /opt/h2hbot/src/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
